/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// html, body { height: 100vh; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-inner {
  height: 100% !important;
}

.carousel-item {
  height: 100% !important;
}

.mat-expansion-panel-body{
  padding:0px!important;
  }

  .mat-expansion-panel-spacing{
margin:  0px!important;
  }
  .mat-expansion-panel{
background-color:transparent;
  }
