.example-container {
  width: 100vw;
  height: 100vh;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
.accordion {
  width: 100%;
  max-width: 390px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}

.accordion .menu {
  position: relative;
  padding: 15px 15px 15px 45px;
  color: #4d4d4d;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li mat-icon {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion li mat-icon.icon-down {
  right: 1rem;
  left: auto;
}

.accordion  div.active mat-icon.icon-down {
  transform: rotate(180deg);
}

.accordion .submenu div.active mat-icon.icon-down-two {
  transform: rotate(180deg);
}

.accordion .submenu mat-icon{
color:white;
}
.accordion li.active .menu {
  color: #b63b4d;
}

.accordion li.active mat-icon {
  color: #b63b4d;
}

/* Show submenu */
// .accordion li.active .submenu {
//   /*
//     height: 0 -> height: auto;는 transition이 동작하지 않는다.
//     max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
//     max-height: 1000px;과 max-height: 133px;을 비교해 보라!
//     height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
//   */
//   /* max-height: 1000px; */
//   /* max-height: 133px; */
// }

.submenu {
  overflow: hidden;
  background: #673ab7;
  font-size: 14px;
  transition: height 0.4s ease;
}

.submenuTwo {
  overflow: hidden;
  background: #402373;
  font-size: 14px;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
ul{
  margin-bottom: 0rem !important;
  .mat-divider {
      border-top-color: rgb(255 255 255 / 5%);
  }
}
mat-list-item{
cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

button:focus{
  outline: none !important;
}

.company_name {
    width: 200px;
    color: white;
    text-transform: uppercase;
font-size: 12px;
line-height: 14px;
      font-weight: 400;

    small {
      text-transform: none;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.496);
    }
  }


  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.mat-accordion .mat-expansion-panel:last-of-type{
  border-radius: 0px !important;
}

.mat-expansion-panel-body{
  padding:0px!important;
}

// mat-grid-tile{
//   // padding:0 8px;

// }

mat-card{
  width: 100% !important;
  height:98% !important;
}

.four_grid{
  margin-top:10px;

  mat-card{
    background-color: rgb(195, 211, 255);
  }
}

.one_grid{
  margin-top:10px;
  mat-card{
    background-color: rgb(195, 211, 255);
  }
}

.two_grid{
  margin-top:10px;
  mat-card{
    background-color: rgb(195, 211, 255);
  }
}

.content_holder{
  padding: 0 32px;
  padding-top: 32px;
}
